<% if application.on_aws? %>
  <div class="release__tag govuk-tag govuk-tag--orange">AWS</div>
<% else %>
  <div class="release__tag govuk-tag govuk-tag--blue">Carrenza</div>
<% end %>

<% if application.deploy_freeze? %>
  <div class="release__tag govuk-tag govuk-tag--red">Do not deploy</div>
<% end %>
